 /* external css */
 h3 {
     color: hotpink;
     background-color: rgb(253, 255, 240);
     text-align: center;
 }

 a {
     text-decoration: none;
     border: 10px solid yellow;
     background-color: brown;
     color: rgb(255, 255, 255);
     padding: 100px;
     margin-bottom: ;

 }

 /* margin=element outer space
  / pading=element inner space / 
  border=line,element border ,width ,solid,color */